:root {
    --yallo: #e1ff00;
    --blue: #130f42;
    --light-color: #666;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,1);
    --border: .2rem solid rgba(0,0,0,1);
    --outline: .1rem solid rgba(0,0,0,1);
    --outline-hover: .2rem solid var(--white);
}
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--white);
}

    .header .logo i {
        color: var(--yallo);
    }

.header .btn ,
table tr td .btn,
.btn{
    background-color: transparent;
    font-size: 15px;
    margin: 0 1rem;
    color: var(--white);
}

    .header .btn:hover,
    table tr td .btn:hover,
    .btn:hover{
        color: var(--yallo);
        border-bottom: 1px solid var(--yallo);
    }
img {
    filter: drop-shadow(2px 4px 6px black);
}
.name {
    border: 1px solid #191717;
    border-radius: 2px;
    width: 165px;
    height: 38px;
    background-color: transparent;
    margin-top: 6px;
    margin-left: 5px;
    padding: 7px;
    color: var(--yallo);
}
.name:focus {
    border: 1px solid var(--yallo);
    outline: none;
}
